<ion-header [translucent]="true" class="ion-no-boder">
  <ion-toolbar class="wrapper">
    <ion-item lines="none">
      <ion-label>
        <h1>Employees App</h1>
        <ion-text>
          <p>Hi welcome to your workspace</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
  <ion-content [fullscreen]="true">
    <ion-card>
     <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>
            <p>Add Employee-list</p>
            <ion-text color="light">{{emp.length}}</ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
        
      <ion-col>
        <ion-item lines="none">
          <ion-fab>
            <ion-fab-button id="open-model" size="small">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-item>
      </ion-col>
     </ion-row>
    </ion-card>
        
  <ion-list>
    <ion-item-sliding *ngFor="let emp of filteredEmployees">
      <ion-item (click)="viewList(emp.name)">
        <ion-label>
          <div>
            <ion-label>{{emp.name}}</ion-label>
            <ion-text color="medium">{{emp.name}}</ion-text>
          </div>
          <div>
            <ion-label>{{emp.position}}</ion-label>
            <ion-text color="medium">{{emp.position}}</ion-text>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            
            <ion-button (click)="cancel()" [strong]="true">cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Employee</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Enter Employee Name "
            labelPlacement="stacked"
            type="text"
            placeholder="name"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
          <ion-input
            label="Enter Employee Position"
            labelPlacement="stacked"
            type="text"
            placeholder="position"
            [(ngModel)]="position"
          ></ion-input>
      </ion-content>
    </ng-template>

    
  
  
  
  

